- contribution = @notification.contribution
| Olá
br/
br/
| O apoio #{contribution.key} para o projeto #{contribution.project.name} foi confirmado com o Value menor do Value do apoio do projeto.
br/
br/
